body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
  /*  text-align: center; */
}

h1 {
    font-size: 3rem;

}

/* fix the h2 when you come to it */

.highlight {
    background-color: yellow;
}

.error {
    background-color: lightcoral;
    border: red;
}